[MASTER]
ignore = __pycache__
jobs = 1

[MESSAGES CONTROL]
disable =
    C0114,
    C0115,
    C0116,
    R0903,
    C0304,
    W0718,
    W0123,
    R1714,

[FORMAT]
max-line-length = 100

[REPORTS]
output-format = colorized
score = no
